{% extends 'base.html' %} {% block content %}
{% load widget_tweaks %}
<h1>Update profile</h1>
<form action="/accounts/update-profile/" method="POST">
  {% csrf_token %} 
  {% for field in form %}
<div class="form-group">

    {{ field.errors }}
    {{ field.label_tag }} {{ field | add_class:"form-control" }}
    {% if field.help_text %}
    <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
 
 
</div>
{% endfor %}
<button type="submit" value="submit" class="btn btn-primary">Register</button>

</form>
{% endblock %}